<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conversation</key>
	<dict>
		<key>apikey</key>
		<string>uN7dU7bw2CTR-ytec3UR4ZFjvptdleC9brxjw7I5erad</string>
		<key>url</key>
		<string>https://api.us-east.assistant.watson.cloud.ibm.com/instances/30a3b36f-afa6-45be-b919-01637ecc7120</string>
	</dict>
	<key>workspaceID</key>
	<string>0af0a653-1723-4b8a-bbc6-81b3a60e1623</string>
	<key>appName</key>
	<string>iosvirtualassistantapp</string>
</dict>
</plist>
